.divider{
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.18);
    margin: 10px 0;
    position: relative;
    z-index: 10;
}
.menuDrop ul {
    background: #1e1e2e !important;
}
.drawer{
    background: #1A1A19 !important;

}
.drawerHeader button{
color: #FFFFFF;
}
.anticon{
    color: #FFFFFF;
}
.drawer p {
    color: #FFFFFF !important;
}
.drawer p:hover{
    color: #FF885B !important;
}

.menuDrop button {
    width: 88px;
    background: transparent;
    border: 1px solid #FF885B;
    color: #FFFFFF;
}

.menuDrop button:hover {
    color: #FFFFFF !important;
    background: transparent !important;
    border: 1px solid #FF885B !important;
    scale: 105%;
}
.cardBorder{
    height: 1px;
    width: 100%;
    background: rgba(255, 255, 255, 0.18) !important;
    margin: 10px ;

}
.menuDrop button:active {
    color: #FFFFFF !important;
    border: 1px solid #FFFFFF;
    background: #FF885B;
}
.ant-card-head {
    background: #3b3a3a !important;
    color: #FFFFFF !important;
    font-size: 30px !important;
    z-index: 10 !important;
    font-weight: 700 !important;
}.ant-card-body {
    background: #3b3a3a !important;
    color: #FFFFFF !important;
    font-size: 25px !important;
}
.changer {
    color: #ffffff!important;
}

.changer a {
    color: #ffffff;
}

.changer a:active {
    color: #FF885B;
}

.changer .active-lang {
    color: #FF885B;
}
body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: #1A1A19;
    box-sizing: border-box;
}

#root {
    width: 100%;
}
:root {
    font-family:Raleway, serif;
    line-height: 1.5;
    font-weight: 400;
    background-color: #ffffff;
    font-optical-sizing: auto;
}